@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Do style by following Online Tutorial Youtube Channel */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    /* gap: 30px; */
    background: #1d2b3a;
}

.inputbox{
    position: relative;
    width: 250px;
    /* margin: 25px -85px 20px; */
    /* margin-top: -10px; */
    margin-top: -18px;
    margin-bottom: 35px;
}
.inputbox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.inputbox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: white;
    /* text-transform: uppercase; */
    transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: aqua;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.80em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid aqua;
    border-right: 1px solid aqua;
    letter-spacing: 0.1em;
}
.inputbox:nth-child(2) input:valid ~ span,
.inputbox:nth-child(2) input:focus ~ span
{
    background: aqua;
    color: #1d2b3a;
    border-radius: 3px;
}
.inputbox input:valid,
.inputbox input:focus{
    border: 1px solid aqua;
}
/* Online tutorial end here */

.login{
width: 315px;
height: 400px;
padding: 60px 35px 35px 35px;
border-radius: 30px;
background-color: #1d2b3a;
box-shadow: 10px 10px 15px  rgb(0, 255, 255),
-10px -10px 15px rgb(0, 255, 255);
}
.admin_logo{
    background: url(../images/Rlogo.jpg);
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    position: relative;
   
}
.container{
    width: 100%;
    padding-left: 2px;
    padding: 70px 100px 45px 0px;
    margin: -30px -5px -5px;
}
.lg_button{
    position: relative;
    text-align: center;
    width: 100px;
    margin-left: 150px;
    margin-top: -7px;
    /* padding: 40px; */
    font-size: 20px;
    background: #1d2b3a;
    color: #fff;
    font-family: poppins;
    font-weight: 400;
    border: 1.5px solid #15f4ee;
    letter-spacing: 1.5px;
    cursor: pointer;
    border-radius: 100px;
    text-transform: uppercase;
    transition: 1.5s;
}
.lg_button:hover{
    box-shadow: 0 0px 20px #15f4ee inset, 0 0px 20px 0 #15f4ee,
    0 0px 20px #15f4ee inset, 0 0px 20px 0 #15f4ee;
    text-shadow: 0 0 1px #15f4ee,0 0 1px #15f4ee;
}

.messege{
color:white;
font-weight: 400;
text-align: center;
text-shadow: 2px 2px 5px red,2px 2px 5px red;

}