@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    /* box-sizing: border-box; */
}
.container-fluid{
background-image: url('../images/wbg4.jpg');
background-repeat: no-repeat;
background-size:cover;
/* width: 800px; */
height: 100vh; 
background-position: center;
margin-left: 0px;
/* padding: 7% 0;    */
}